name: CI
on:
  push:
  pull_request:
jobs:
  build:
    strategy:
      matrix:
        java: ["17", "21", "25"]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: "${{ matrix.java }}"
      - name: Build with Maven
        run: mvn -B -Dstyle.color=always -ntp clean verify
        env:
          MAVEN_OPTS: -Djansi.force=true
